# why is everything not public (probably for important reasons but let me rant)
public net.minecraft.client.model.geom.ModelPart.Cube polygons
public net.minecraft.client.model.geom.ModelPart$Polygon
public net.minecraft.client.model.geom.ModelPart$Vertex
# get public
public net.minecraft.client.model.ShieldModel root
public net.minecraft.client.model.TridentModel root